.main-footer {
  position: relative;
  bottom: 0;
  background-color: rgb(165, 7, 7);
  width: 100%;
  padding: 0.3em;
  color: white;
}



/* .line {
  width: 30%;
}

.icon {
  margin-right: 1em;
  color: white;
  float: left;
}
.copyright p {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  align-items: end;
} */

/* media queries */
@media screen and(max-width:1024px) {
  .line {
    width: 40%;
  }
}
@media screen and(max-width:568px) {
  hr {
    display: none;
  }
}
