footer {
  /* position: fixed; */
  bottom: 0;
  background-color: red;
  width: 100%;
  padding: 0.4em;
}

.line {
  width: 30%;
}

.icon {
  margin-right: 1em;
  color: white;
  float: left;
}
.copyright p {
  text-align: center;
  color: white;
  margin-bottom: .5em;
}

/* media queries */
@media screen and(max-width:1024px) {
  .line {
    width: 40%;
  }
}
@media screen and(max-width:568px) {
  hr {
    display: none;
  }
}
